@import "tailwindcss";

body {
  @apply bg-white text-gray-900;
}

@theme {
  --color-background-dark: #70170f;
  --color-primary: #b7410e;
  /*--color-secondary: #FBF6F4;*/
  --color-secondary: #2f4f6f;
  --color-background-light: #faf3e0;
  --color-neutral: #e0e0e0;
  /*--color-accent: #93160B;*/
  --color-accent: #ffba00;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .btn-outer {
    filter: drop-shadow(0 1px 0 #000) drop-shadow(-1px 0 0 #000)
      drop-shadow(1px 0 0 #000) drop-shadow(0 -1px 0 #000)
      drop-shadow(5px 5px 0 #000);
    transition: filter 0.3s ease-in-out;
  }

  .btn-outer:hover {
    filter: drop-shadow(0px 0px 0 #000);
  }

  .btn-middle {
    @apply relative cursor-pointer font-mono font-semibold text-base transition-transform duration-300;
  }

  .btn-outer:hover .btn-middle {
    transform: translate(5px, 5px);
  }

  .btn-inner {
    background: linear-gradient(
        to bottom,
        #ffba00 33%,
        #f2c94c 66%
      )
      50% 0% / 100% 400% no-repeat;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    position: relative;
    transition:
      color 0.3s ease-in-out,
      background-position 0.3s ease-in-out;
  }

  .btn-inner::before,
  .btn-inner::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 100%;
    top: 0;
    background: inherit;
  }

  .btn-inner::before {
    left: calc(100% - 1px);
    clip-path: polygon(
      100% 0,
      74% 28%,
      100% 29%,
      100% 70%,
      84% 78%,
      100% 100%,
      0 100%,
      0 0
    );
  }

  .btn-inner::after {
    left: calc(-1rem + 1px);
    clip-path: polygon(
      23% 19%,
      0 0,
      100% 0,
      100% 100%,
      0 100%,
      29% 79%,
      9% 80%,
      0 33%
    );
  }

  .btn-outer:hover .btn-inner {
    color: #000;
    background-position: 50% 100%;
  }
}
